* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 24, 33);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(5, 47, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* nav ul li a:hover {
    font-size: .05rem;
} */

nav ul li a {
    --blue: #1E90FF;
    /* Blue shade */
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--blue);
    background: linear-gradient(to right, rgba(30, 144, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(30, 144, 255, 0.1) 100%);
    color: var(--blue);
    box-shadow: inset 0 0 10px rgba(30, 144, 255, 0.4), 0 0 9px 3px rgba(30, 144, 255, 0.1);
}

nav ul li a:hover {
    color: #0C4C9E;
    /* Darker blue shade for hover state */
    box-shadow: inset 0 0 10px rgba(30, 144, 255, 0.6), 0 0 9px 3px rgba(30, 144, 255, 0.2);
}

nav ul li a:before {
    content: "";
    position: absolute;
    left: -1em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(30, 144, 255, 0.1) 40%, rgba(30, 144, 255, 0.1) 60%, transparent 100%);
}

nav ul li a:hover:before {
    transform: translateX(5em);
}

.left {
    font-size: 2rem;
}

/* Media Query for screens with max-width of 1600px */
@media screen and (max-width: 1600px) {
    nav ul li a {
        font-size: 11px;
        /* Adjust font size */
        padding: 0.5em 1.5em;
        /* Adjust padding */
    }

    nav ul li a:before {
        width: 3em;
        /* Adjust width of the before element */
        left: -0.8em;
        /* Adjust the left position */
    }

    nav ul li a:hover:before {
        transform: translateX(4em);
        /* Adjust the translation */
    }

}

/* ------------GREETINGS AND MAIN IMAGE-------- */
.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0;
    flex-wrap: wrap;
}

.firstsection>div {
    width: 30%;
}

/* ---------GREETINGS-------- */
.leftsection {
    width: 34px;
    font-size: 2.5rem;
    margin-top: 70px;
    align-items: center;
}

.black {
    color: rgb(38, 254, 0);
}

/* ----------MAIN IMAGE--------- */
.rightsection {
    width: 34px;
}

.rightsection img {
    width: 80%;
    margin-left: 20px;
    margin-top: 70px;
}



#element {
    color: rgb(81, 224, 138);
}

/* ----------BUTTON-------- */
main section div .button {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
}

main section div button {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

main section div button:active,
button:hover {
    outline: 0;
}

main section div button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

main section div button:hover span {
    background: none;
}

main section div button:active {
    transform: scale(0.9);
}

/* -------------ABOUT---------- */
.sect {
    padding: 40px 0;
}

.about {
    color: #ababab;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* Align items to the top */
    justify-content: space-between;
}

.about-col-1,
.about-col-2 {
    flex: 1;
    margin: 20px;
    max-width: 45%;
}

.about-col-1 img {
    width: 400px;
    height: 550px;
    border-radius: 15px;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: aquamarine;
}

.about p {
    line-height: 1.6;
    color: #ababab;
}

.tab-titles {
    display: flex;
    justify-content: flex-start;
    /* Align tabs to the start */
    margin-top: 20px;
}

.tab-links {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: transparent;
    color: #ababab;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.active-link {
    border-color: #0ef152;
}

/* Styles for tab contents */
.tab-contents {
    display: none;
    margin-top: 20px;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul {
    padding: 0;
    margin: 0;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #0ef152;
    font-size: 14px;
}

/* Responsive adjustments */
@media (max-width: 1400px) {

    .about-col-1,
    .about-col-2 {
        flex: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .about-col-1 {
        display: flex;
        justify-content: center;
    }

    .about-col-1 img {
        width: 200px;
        height: 270px;
    }
}

/* -------------MY SERVICES-------------- */
.sub-title {
    font-size: 4rem;
    text-align: center;
    color: #0ef152;
}

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #032236;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #0ef152;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #033436;
    transform: translateY(-10px);
}

/* Media Query for max-width 1400px */
@media screen and (max-width: 1400px) {
    .sub-title {
        font-size: 3.5rem;
    }

    .services-list {
        grid-gap: 30px;
    }

    .services-list div {
        padding: 30px;
        font-size: 12px;
    }

    .services-list div i {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .services-list div h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .services-list div a {
        font-size: 13px;
    }
}

/* ----------WORK EXPERIENCE----------- */
.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
    color: aqua;
}

.secondsection .box {
    background: aqua;
    width: 80vw;
    height: 2px;
    margin: 86px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: aqua;
    margin: 0 100px;
}


.text {
    color: gray;
}

.img-top {
    width: 55px;
    position: relative;
    top: -56px;
    left: -10px;
}

.vert-text {
    position: relative;
    top: 60px;
    width: 170px;
    font-size: 16px;

}

.vert-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 170px;
    font-size: 14px;
}

/* ------------GREENLINE------------ */
main hr {
    border: 0;
    background: rgb(64, 253, 64);
    height: 1.2px;
    margin: 40px 84px;
}

/* <--------CONTACT ME--------- */
.contat-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    margin-left: 15px;
    font-size: 25px;
}

.contact-right {
    flex-basis: 60%;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    color: gray;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    margin-left: 15px;
    transition: transform 0.5s;
    margin-top: 70px;
}

.social-icons a:hover {
    color: #0ef152;
    transform: translateY(-5px);
}

section div div div div form button {
    display: inline-block;
    background: #0ef152;
    color: #032236;
    padding: 10px;
    padding: 14px 60px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    background: #262626;
    font-size: 18px;
    color: #0ef152;
    border-radius: 10px;
}

@media screen and (max-width: 1400px) {

    .contact-left,
    .contact-right {
        flex-basis: 100%;
        /* Making both contact sections take full width */
        text-align: center;
        /* Centering text within these sections */
    }

    .contact-left p {
        margin-top: 20px;
        /* Adjusting top margin */
    }

    .contact-left p i {
        font-size: 20px;
        /* Adjusting icon size */
        margin-left: 10px;
        /* Adjusting left margin */
    }

    .social-icons {
        margin-top: 20px;
        /* Adjusting top margin */
        text-align: center;
        /* Centering social icons */
    }

    .social-icons a {
        font-size: 25px;
        /* Adjusting font size */
        margin-right: 10px;
        /* Adjusting right margin */
        margin-left: 10px;
        /* Adjusting left margin */
        margin-top: 50px;
        /* Adjusting top margin */
    }

    section div div div div form button {
        padding: 10px 40px;
        /* Adjusting button padding */
        font-size: 16px;
        /* Adjusting font size */
        margin-top: 15px;
        /* Adjusting top margin */
        display: block;
        /* Making button a block element */
        margin-left: auto;
        /* Centering button */
        margin-right: auto;
        /* Centering button */
    }

    .contact-right form {
        width: 100%;
        /* Ensuring the form takes full width */
        display: flex;
        /* Using flexbox for centering */
        flex-direction: column;
        /* Aligning children vertically */
        align-items: center;
        /* Centering children horizontally */
    }

    form input,
    form textarea {
        width: 80%;
        /* Decreasing width to 80% */
        padding: 10px;
        /* Adjusting padding */
        margin: 10px 0;
        /* Adjusting margin */
        font-size: 16px;
        /* Adjusting font size */
        text-align: center;
        /* Centering text inside input and textarea */
    }
}

/* -----------FOOTER------------ */
footer {
    background-color: rgb(6, 73, 73);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-right {
    text-align: center;
    color: gray;
    padding: 12px 0px;
}

/* ---------NAV GREETINGS IMAGE FOOTER RESPONSIVENESS------------ */
@media screen and (max-width: 1600px) {
    body {
        min-width: fit-content;
    }

    .firstsection {
        margin: 20px 0;

    }

    .box {
        flex-direction: column;
    }

    .secondsection .box {
        background: aqua;
        width: 80vw;
        height: 2px;
        margin: 16px 0;
        display: flex;
    }

    .secondsection .vertical {
        height: unset;
        width: 1px;
        background-color: aqua;
        margin: 0 6vw;
    }

    .img-top {
        width: 55px;
        position: relative;
        top: 110px;
        left: -25px;
    }

    .vert-text,
    .vert-desc {
        left: 45px;
    }

    .secondsection .box {
        width: 50vw;
    }

    .secondsection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secondsection {
        height: 400vh;
    }

    main section div button span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstsection {
        flex-direction: column-reverse;
    }

    .leftsection,
    .i {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rightsection {
        width: 420px !important;
        display: flex;
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }


}